{% extends 'base.html.twig' %}
{% block title %}Ciné Live{% endblock %}

{% block body %}
    <div class="username">
        <h1>Hello {{  user.username }}</h1>
    </div>
    <div class="groups">
        <h2>Voici tes groupes</h2>
        <div class="group">
            <ul>
        {% for group in user.groupsss %}
            <a href="{{ path('group_show', { 'groupName': group.name }) }}">{{ group.name }}<i></i></a>
        {% endfor %}
            </ul>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type='submit' class="btn btn-light" value='Add group'>
            {{ form_end(form) }}

        </div>
    </div>
    <div class="sessions">
        <h2>Voici tes séances : </h2>
        <div class="session">
            <ul>
            {% for sess in user.session %}
                <a href="{{ path('session_show', { 'sessionName': sess.schedule }) }}">{{ sess.schedule }}<i></i></a>
            {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
